<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td class="text-center"><b>用户</b></td>
                    <td class="text-center"><b>IP地址</b></td>
                    <td class="text-center"><b>最后上线</b></td>
                </tr>
            </thead>
            <tbody>
            {% for addr in addrs %}
                <tr>
                    <td class="text-center">
                        <a href="{{ url_for("admin.users_detail", user_id=addr.user_id) }}">
                            {{ addr.user.name }}
                        </a>
                    </td>
                    <td class="text-center">{{ addr.ip }}</td>
                    <td class="text-center solve-time">
                        <span data-time="{{ addr.date | isoformat }}"></span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
